:root {
  --darkBlue: #07484A;
  --lightBlue: #00688F;
  --darkBlue2: #01252A;
  --white1: #FFF;
  --white2: #FDFBF8;
  --black: #000;
  --black2: #333;
  --gray: #D9D9D9;
  --gray2: #f7fafe;
  --playfairDisplayFont: 'Playfair Display', serif;
  --openSansFont: 'Open Sans', sans-serif;
  --interFont: 'Inter', sans-serif;
}