:root {
  --darkBlue: #07484a;
  --lightBlue: #00688f;
  --darkBlue2: #01252a;
  --white1: #fff;
  --white2: #fdfbf8;
  --black: #000;
  --black2: #333;
  --gray: #d9d9d9;
  --gray2: #f7fafe;
  --playfairDisplayFont: "Playfair Display", serif;
  --openSansFont: "Open Sans", sans-serif;
  --interFont: "Inter", sans-serif;
}
