:root {
  --darkBlue: #07484A;
  --lightBlue: #00688F;
  --darkBlue2: #01252A;
  --white1: #FFF;
  --white2: #FDFBF8;
  --black: #000;
  --gray: #D9D9D9;
  --playfairDisplayFont: 'Playfair Display', serif;
  --openSansFont: 'Open Sans', sans-serif;
  --interFont: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

section {
  height: 100vh;
}

/* MENU */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 5px 10%;
}

.nav-title,
.nav-links,
.quote {
  font-family: var(-- Estamos Aqui Para Hacer TuplayfairDisplayFont);
}

.short-p,
.btn {
  font-family: var(--openSansFont);
}

.header .nav-title {
  color: var(--darkBlue);
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 10px;
}

.header .nav-links a:not(.principal) {
  color: var(--darkBlue);
  font-size: 15px;
  font-weight: 400;
  line-height: 132.9%;
  letter-spacing: 1px;
  text-decoration: none;
}

.principal {
  color: var(--darkBlue);
  font-size: 15px;
  font-weight: 700;
  line-height: 132.9%;
  /* 26.58px */
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.header .nav-buttons .b2 {
  padding-left: 40px;
}

.nav-buttons img {
  width: 17%;
}

/* PRINCIPAL */

.imgBack {
  background-image: url('../img/persona1.png');
  background-size: cover;
}

.container:not(.comments-section) {
  display: flex;
  padding: 0 7%;
}

.columna:not(.client-comment, .stars, .imgFinal) {
  flex: 1;
  padding: 11% 0;
}

.quote {
  color: var(--darkBlue);
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.short-p {
  color: var(--darkBlue);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding: 30px 0;
}

.btn {
  display: flex;
  width: 170px;
  height: 60px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: var(--lightBlue);
  color: var(--white2);
  font-family: var(--openSansFont);
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

/* SOBRE NOSOTROS */
.about-us {
  background-color: var(--white1);
}

.images img {
  width: 100%;
  height: auto;
}

.list {
  padding-left: 7%;
}

.about-us p {
  color: #07484A;
  font-family: var(--openSansFont);
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.about-us h1 {
  color: var(--darkBlue);
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-family: var(--playfairDisplayFont);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}

.about-us ul {
  list-style: none;
  padding-left: 50px;
}

.about-us li {
  padding: 20px 0 20px 35px;
  position: relative;
  color: var(--black);
  font-family: var(--openSansFont);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.about-us li::before {
  content: "";
  background-image: url('../img/icons8-estrella-100\ 1.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* QUE HACEMOS */
.columna2:not(.client1, .client2, .client3) {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.what-do-we-do {
  background-color: var(--gray);
  padding: 2% 0 0 0;
}

.w-text {
  text-align: center;
}

.w-p1 {
  color: var(--darkBlue);
  text-align: center;
  font-family: var(--openSansFont);
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}

.w-h1 {
  color: var(--darkBlue);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-family: var(--playfairDisplayFont);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.what-do-we-do svg:not(#rectangule) {
  position: absolute;
  width: 100%;
  height: auto;
}

#rectangule {
  z-index: 1;
}

#blueRectangule {
  z-index: 2;
  bottom: 0;
}

#circleBlue {
  z-index: 3;
  top: 13%;
  left: 26%;
}

.w-h2 {
  z-index: 4;
  position: absolute;
  top: 43%;
  left: 17%;
  color: var(--darkBlue);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-family: var(--playfairDisplayFont);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.w-p2 {
  z-index: 4;
  position: absolute;
  top: 52%;
  left: 19%;
  color: var(--darkBlue);
  text-align: center;
  font-family: var(--openSansFont);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#circleGray {
  z-index: 5;
  position: absolute;
  top: 69%;
  left: 38%;
}

#arrow {
  z-index: 5;
  position: absolute;
  top: 73%;
  left: 42.3%;
}

.w-img {
  z-index: 6;
  position: absolute;
  width: 25%;
  top: 17%;
  left: 33%;
}

/* CLIENTES */
.tittle {
  color: var(--darkBlue);
  text-align: center;
  font-family: var(--playfairDisplayFont);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  padding-bottom: 30px;
}

.comment {
  color: var(--darkBlue2);
  font-family: var(--openSansFont);
  font-size: 14x;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: -0.36px;
  padding-top: 25px;
}

.name {
  color: var(--darkBlue2);
  font-family: var(--interFont);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.company {
  color: var(--darkBlue2);
  font-family: var(--interFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: -0.36px;
}

.clients {
  padding: 50px 0;
}

.clients .container:not(.comments-section) {
  padding: 20px 7%;
  display: flex;
}

.clients .container .columna2 {
  padding: 20px 40px;
  margin: 0 10px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 10px;
}

.comments-section {
  display: flex;
  padding: 20px 0;
}

.clients .container .stars {
  text-align: right;
}

.client-comment,
.stars {
  flex: 1;
}

.client1 {
  background: var(--gray);
}

.client2,
.client3 {
  background: var(--lightBlue);
}

.clients .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .arrows img {
  max-width: 70%;
}

/* FINAL */
.space {
  padding: 2% 0;
}

.imgBack2 {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/people.jpg');
  background-size: cover;
}

.final .columna img {
  width: 75%;
}

.imgFinal img {
  flex: 1;
  position: relative;
  bottom: 13%;
  z-index: 1;
}

.quote2 {
  color: #FFF;
  font-family: var(--playfairDisplayFont);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 0 3.75rem 0;
}

.short-p2 {
  color: #FFF;
  font-family: var(--openSansFont);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 0 3.75rem 0;
}

.bottons {
  display: flex;
  margin-top: 5%;
}

.btn2,
.btn3 {
  display: flex;
  width: 170px;
  height: 60px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: var(--openSansFont);
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.btn2 {
  background: var(--lightBlue);
  color: var(--white2);
  margin-right: 5%;
}

.btn3 {
  background: #E7FAEF;
  color: #00688F;
}

/* Shine Trip Info */
.five-columns {
  display: flex;
}

.column,
footer p {
  flex: 1;
  padding: 3% 2%;
}

.column h3:not(.all-info),
.social-media {
    padding-bottom: 10%;
}

.social-media img {
  width: 12%;
  margin: 0 3%;
}

.column .logo-footer {
  color: #07484A;
  text-shadow: 0px 4px 4px rgba(31, 25, 25, 0.00);
  font-family: var(--playfairDisplayFont);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.column .all-info {
  color: #07484A;
  font-family: var(--openSansFont);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.column h3 {
  color: #07484A;
  font-family: var(--openSansFont);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.column p,
footer p {
  color: #07484A;
  font-family: var(--openSansFont);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

